h1 {
	margin:0px;
}
header {
	margin:0px; margin-bottom:3px;
	text-align:center;
	width:100%;
    height: 40px;
	color:white;
	background: -webkit-linear-gradient(top, #000 0%, #999 100%);
	background: -moz-linear-gradient(top,  #000,  #999);
	background: -ms-linear-gradient(top,  #000,  #999);
	background: -o-linear-gradient(top,  #000,  #999);
	background: linear-gradient(top,  #000,  #999);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#999'); 
}

a{
	color:#222
}


body{
	font-size:10pt;
}

.welcome {
	color:white;
	margin-right : 1em;
	float : right;
}

#main {
	float:right;
	width:70%;
}

aside {
	text-align: left;
	width:18em;
}

aside div{
	margin-top : 1em;
	padding:0.8em;
	background-color: #E8E8E8 ;
	border-radius: 1em;
}