header { 
	margin:0px; margin-bottom:3px;
	text-align:center;
	 width:100%;
    height: 40px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#999));
	color:white;
}

.welcome {
	color:white;
	margin-right : 30px;
	float : right;
}

#main {
	float:right;
	width:70%;
}

aside {
	margin-right:80%;
}

aside div{
	margin-top : 1em;
	padding:1em;
	background-color: #E8E8E8 ;
	border-radius: 15px;
}
